In [1]:
import pandas as pd
import numpy as np

1)Используя метод .describe() вычислите описательные статистики для
северных и южных городов. Сравните средние значения смертности в
северных и южных городах и значения концентрации кальция в питьевой
воде.

In [8]:
df = pd.read_table('water.txt')
df.mortality = pd.to_numeric(df.mortality)
df.hardness = pd.to_numeric(df.hardness)
df

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

Описательные статистики юга:

In [9]:
df.loc[df.location == 'South'].describe()

         mortality    hardness
count    26.000000   26.000000
mean   1376.807692   69.769231
std     140.269175   40.360682
min    1096.000000    5.000000
25%    1259.250000   40.250000
50%    1364.000000   75.500000
75%    1485.750000   99.750000
max    1627.000000  138.000000

Описательные статистики севера:

In [10]:
df.loc[df.location == 'North'].describe()

         mortality   hardness
count    35.000000  35.000000
mean   1633.600000  30.400000
std     136.936911  26.134494
min    1378.000000   6.000000
25%    1557.500000  12.500000
50%    1637.000000  17.000000
75%    1718.000000  44.000000
max    1987.000000  94.000000

Вывод: Смертность на севере выше, чем на юге; среднее значение концентрации кальция в питьевой воде на севере больше, чем на юге.

2) Постройте 95% доверительные интервалы для средней годовой смертности
по всем южным и северным городам. Отличаются ли границы интервалов?

In [12]:
import statsmodels.stats.weightstats as ssw
mort_mean = df.mortality.mean()
mort_mean_std = df.mortality.std() / np.sqrt(df.mortality.shape[0])
print('95% interval: ', ssw._tconfint_generic(mort_mean, mort_mean_std, df.mortality.shape[0] - 1, 0.05, 'two-sided'))

95% interval:  (1476.0833413552848, 1572.2117406119285)

3) Постройте 95% доверительные интервалы для средней концентрации кальция в
питьевой воде для южных и северных городов. Отличаются ли границы
интервалов?

Доверительный интервал средней концентрации кальция в питьевой воде для северных городов.

In [23]:
north = df.loc[df.location == 'North']
north_hardness_mean = north.hardness.mean()
north_hardness_mean_std = north.hardness.std() / np.sqrt(north.hardness.shape[0])
north_std_interval = ssw._tconfint_generic(north_hardness_mean, north_hardness_mean_std, north.hardness.shape[0] - 1, 0.05, 'two-sided')
print('South 95% interval: ', north_std_interval, 'interval lenght: ', north_std_interval[1] - north_std_interval[0])

South 95% interval:  (21.42248728572426, 39.37751271427574) interval lenght:  17.95502542855148

Доверительный интервал средней концентрации кальция в питьевой воде для южных городов.

In [24]:
south = df.loc[df.location == 'South']
south_hardness_mean = south.hardness.mean()
south_hardness_mean_std = south.hardness.std() / np.sqrt(south.hardness.shape[0])
south_std_interval = ssw._tconfint_generic(south_hardness_mean, south_hardness_mean_std, south.hardness.shape[0] - 1, 0.05, 'two-sided')
print('South 95% interval: ', south_std_interval, 'interval lenght', south_std_interval[1] - south_std_interval[0])

South 95% interval:  (53.467198692036106, 86.07126284642544) interval lenght 32.604064154389334

Длина доверительного интервала играет важную роль: чем меньше его длина, тем точнее оценка. Если длина этого интервала велика, то ценность такой оценки незначительна.